body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #303030;
	text-align: center;
	color: #fff;
}

table {
	margin: 0 auto;
	min-width: 80%;
}

th, td {
	padding: 3px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

tr:nth-child(odd) {
	background-color: #303030;
}

tr:nth-child(even) {
	background-color: #404040;
}

h1 {
	margin: 0;
}

body.gallery #cont {
	margin: 0 auto;
	max-width: 80%;
}

body.gallery #cont .wow {
	display: inline-block;
	width: 160px;
	height: 160px;
	background-size: cover;
	background-position: 50% 50%;
	margin: 5px;
	border: 1px solid #808080;
	box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
	transition: all 0.2s ease;
}

body.gallery #cont .wow:hover {
	 box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

body.upload #cont {
	margin: 0 auto;
	text-align: center;
	max-width: 30%;
}

[contenteditable="true"]:focus {
    outline: none;
}

input[type="file"] {
	width: 100%;
	border: 2px solid #606060;
}

input[type="file"]:hover {
	background-color: #505050;
}

input[type="file"]:active {
	background-color: #404040;
}

input[type="text"] {
	width: 50%;
}

input[type="submit"] {
	width: 49%;
}

body.upload img {
	width: 100%;
	max-width: 100%;
}

body {
	margin: 0;
}

.header {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	padding: 10px;
}

.menu {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	background: linear-gradient(180deg, #aaa, #777);
}

.top {
	margin-bottom: 15px;
}

.bottom {
	margin-top: 15px;
}

#footer {
	padding: 15px;
}
